email=devopstrainingblr@gmail.com
#always-auth=true
#_auth=YWRtaW46YWRtaW4xMjM=
registry.npmjs.org/:_auth=YWRtaW46YWRtaW4xMjM=
#registry.npmjs.org/:_authToken=YWRtaW46YWRtaW4xMjM=
#registry.npm.example.com/:_authToken="base64(admin:admin123)"
allowRepublish=true
